[core]
    excludesfile = ~/.gitignore
[alias]
    # shortcut for status command
    st = status
    # show log for last commit
    last = log -1 HEAD
    # short log format
    ll = log --oneline --decorate
    # shortcut for checkout command
    co = checkout
    # shortcut for merge squash
    ms = merge --squash
    # list branches with date information
    branchdate = !git "for-each-ref --sort='-authordate' --format='%1B[0;34m%(authordate)%09%1B[m%(refname)'" refs/heads | sed -e 's-refs/heads/--'
    # show branch graph
    bg = log --oneline --abbrev-commit --all --graph --decorate --color
